<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="default/header::header">
</head>
<body>
	<div class="container film-content-container ">
		<div class="row mb-2">
			<!-- Film Entries Column -->
			<div class="col-md-12">
				<div id="mainContainer">
					<div id="mainContainerRepleace">
						<div class="card flex-md-row mb-4 box-shadow h-md-250" th:each="film:${films}">
							<div class="card-body d-flex flex-column ">
								<h2 class="card-title">
									<a th:href="${'film/' +film.id}" class="btn-link" target="_blank" th:text="${film.fullTitle}"></a>
								</h2>
								<div class="small m-b-xs">
									<strong>发布时间：</strong>
									<span class="text-muted" th:text="${film.createTime}">
										<i class="fa fa-clock-o"></i>
									</span>
								</div>
								<p class="briefCnt" th:text="${film.briefCnt}"></p>
								<div class="row">
									<div class="col-md-6">
										<div class="card-text large text-left">
											分类：
											<span class="badge badge-secondary" th:each="s:${film.category}" th:text="${s}"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="card-text small text-right">
											<i class="fa fa-comments-o"> </i>
											暂无评论
											<i class="fa fa-eye" >
											<span th:text="${film.views}+' 次浏览'"></span> </i>
										</div>
									</div>
								</div>
							</div>
							<img class="card-img-right flex-auto d-none d-md-block preveiw" th:src="${film.imgUrl}" alt="预览图片">
						</div>
						<div th:replace="~{default/page :: page}">...</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="default/footer::footer"></div>
</body>
</html>